body {

    background-image: radial-gradient(circle, #03060b, #101626, #030304, #030205, #0d030f);}
#web h1{
    color: rgb(244, 229, 236);
    padding-left: 30%;
    font-weight: bold;
   
}
#content{
    font-size: small;
    color: rgb(182, 176, 184);
}

